h1{
    font: 400 36px/36px "Robot", sans-serif;
    text-align: center;
    color:white;
    margin: 50px 0;
}
p{
    font: 400 16px/18px "Montserrat", sans-serif;
    color: white;
}

body{
    background-color: #2f2f2f;
}
li{
    color: white;
    margin: 30px 0;
}
.cont-text{
    display: flex;
    margin: 0 auto;
    width: 60%;
}